@model UserViewModel

@{
    ViewBag.Title = "User Details";
}
@{ var result = ""; }

@{ Layout = ViewBag.Layout; }

<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <h3>User</h3>
    <ul>
        <li>
            <a asp-controller="User" asp-action="Index" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" >Home</a>
        </li>
        <li>User Details</li>
    </ul>
</div>
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>User Details</h3>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-expanded="false">...</a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-action="index" asp-controller="student" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" >
                        <i class="fas fa-times text-orange-red"></i>Close
                    </a>
                    @*<a class="dropdown-item" href="#">
                            <i class="fas fa-cogs text-dark-pastel-green"></i>Edit
                        </a>*@
                    <a class="dropdown-item">
                        <i class="fas fa-redo-alt text-orange-peel"></i>Refresh
                    </a>
                </div>
            </div>
        </div>
        <form method="post">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Email *</label>
                    <input type="text" placeholder="" asp-for="Email" class="form-control" readonly>

                </div>



                <input placeholder="" asp-for="Id" class="form-control" hidden>
                <span asp-validation-for="Id" class="text-danger"></span>




                <div class="col-xl-3 col-lg-6 col-12 form-group">

                    <div><label>Role List</label></div>
                    
                    <select class="height-auto select2" style="width:190px">

                        @foreach (var role in ViewBag.RolesList)

                        {
                            <option>@role</option>

                        }


                    </select>

                </div>






                <div class="col-12 form-group mg-t-8">
                    
                    <a asp-area="Admin" asp-controller="Userrole" asp-action="Index" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div"  class="btn-fill-lg bg-blue-dark btn-hover-yellow">Back</a>
                </div>

                @if (ViewBag.Status != null)
                {
                    result = "Error";
                }
            </div>

        </form>
    </div>
</div>
<!-- Admit Form Area End Here -->
<footer class="footer-wrap-layout1">
</footer>

<script>
    $('.select2').select2();
</script>
<script>
    $(document).ready(function () {
        

        if (@result != ""){
            
            iziToast.error({
                title: '@result',
                message: 'Username and password donot match'
            });
        }
    });


</script>
