
@model StudentViewModel


@{
    ViewBag.Title = "Create Student";

    var SAcounter = 1;
    Layout = ViewBag.Layout;
}




<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Students</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Student Admit Form</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Edit Student</h3>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-expanded="false">...</a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-times text-orange-red"></i>Close
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs text-dark-pastel-green"></i>Edit
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-redo-alt text-orange-peel"></i>Refresh
                    </a>
                </div>
            </div>
        </div>
        <form enctype="multipart/form-data" asp-area="Admin" asp-controller="student" asp-action="Edit" method="post" 
               data-ajax="true"
                           data-ajax-method="post" data-ajax-mode="replace"
                           data-ajax-update="#main-div"
                           class="new-added-form">
            <div class="row">
                <input asp-for="Id" class="form-control" hidden>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>First Name *</label>
                    <input type="text" placeholder="" asp-for="FirstName" class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Middle Name</label>
                    <input type="text" placeholder="" asp-for="MiddleName" class="form-control">
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Last Name *</label>
                    <input type="text" placeholder="" asp-for="LastName" class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Gender *</label>
                    <select asp-for="Gender" class="custom-select mr-sm-3  select2"
                            asp-items="Html.GetEnumSelectList<GenderEnum>()"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Date Of Birth *</label>
                    <input asp-for="BirthDate" type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                           data-position='bottom right'>
                    <i class="far fa-calendar-alt"></i>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Roll</label>
                    <input asp-for="RollNo" type="number" placeholder="" class="form-control">
                    <span asp-validation-for="RollNo" class="text-danger"></span>
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Blood Group *</label>
                    <select asp-for="BloodGroup" class="custom-select mr-sm-3  select2"
                            asp-items="Html.GetEnumSelectList<BloodGroupEnum>()"></select>
                    <span asp-validation-for="BloodGroup" class="text-danger"></span>

                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label asp-for="Class">Class*</label>


                    <select asp-for="Class" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <span asp-validation-for="Class" class="text-danger"></span>

                </div>



                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Phone</label>
                    <input asp-for="MobileNumber" type="text" placeholder="" class="form-control">
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Address</label>
                    <input asp-for="Address" type="text" placeholder="" class="form-control">
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <img src="@Model.PhotoPath" height="100px" width="100px" />
                </div>
                <div class="col-lg-6 col-12 form-group mg-t-30">
                    <label class="text-dark-medium">Upload Student Photo (150px X 150px)</label>
                    <input asp-for="PhotoInput" type="file" accept="image/*" class="form-control-file">
                </div>




                @*Student Academic part*@

                <div class="col-sm-12 height-auto">

                    <div class="container">
                        <table id="myTable" class=" table order-list">
                            <thead>
                                <tr>
                                    <td>Board Name*</td>
                                    <td>College*</td>
                                    <td>Percentage*</td>
                                    <td>Division*</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @* <select class="custom-select height-auto" style="border:none" asp-for="StudentAcademicList[0].BoardId" asp-items="Html.GetEnumSelectList<BoardEnum>()"></select>*@


                                        <select class="custom-select height-auto" style="border:none" asp-for="StudentAcademicList[0].BoardId">
                                            <option value="1">NEB</option>
                                            <option value="2">HSEB</option>
                                            <option value="3">Bachelor</option>
                                        </select>
                                    </td>
                                    <td>
                                        @*@Html.TextBoxFor(x => x.StudentAcademicList[i].College, new { htmlAttributes = new { @class = "form-control " } })*@
                                        <input asp-for="StudentAcademicList[0].College" class="form-height-auto" style="border:none" placeholder="College / School">
                                        <span asp-validation-for="StudentAcademicList[0].College" class="text-danger text-8"></span>
                                    </td>
                                    <td>
                                        @*  @Html.TextBoxFor(x => x.StudentAcademicList[i].Percentage, new { htmlAttributes = new { @class = "form-control " } })*@

                                        <input asp-for="StudentAcademicList[0].Percentage" class="form-height-auto" style="border:none" placeholder="Enter your percentage" type="number">
                                        <span asp-validation-for="StudentAcademicList[0].Percentage" class="text-danger text-8"></span>
                                    </td>
                                    <td>

                                        @*@Html.EditorFor(x => x.StudentAcademicList[i].Division, new { htmlAttributes = new { @class = "form-control " } })*@
                                        @*<input asp-for="StudentAcademicList[i].Division" class="form-control" placeholder="Enter your Division">*@

                                        <div>

                                            <select asp-for="StudentAcademicList[0].Division" class="height-auto" style="border:none">
                                                <option value="Distinction">Distinction</option>
                                                <option value="1st division">1st division</option>
                                                <option value="2nd division">2nd division</option>
                                                <option value="3rd division">3rd division</option>

                                            </select>

                                        </div>
                                    </td>
                                </tr>

                                @if (Model.StudentAcademicList != null)
                                {
                                    @if (Model.StudentAcademicList.Count > 0)
                                    {
                                        for (int i = 1; i < Model.StudentAcademicList.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @* <select class="custom-select height-auto" style="border:none" asp-for="StudentAcademicList[0].BoardId" asp-items="Html.GetEnumSelectList<BoardEnum>()"></select>*@


                                                    <select class="custom-select height-auto" style="border:none" asp-for="StudentAcademicList[SAcounter].BoardId">
                                                        <option value="1">NEB</option>
                                                        <option value="2">HSEB</option>
                                                        <option value="3">Bachelor</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    @*@Html.TextBoxFor(x => x.StudentAcademicList[i].College, new { htmlAttributes = new { @class = "form-control " } })*@
                                                    <input asp-for="StudentAcademicList[SAcounter].College" class="form-height-auto" style="border:none" placeholder="College / School">
                                                    <span asp-validation-for="StudentAcademicList[SAcounter].College" class="text-danger text-8"></span>
                                                </td>
                                                <td>
                                                    @*  @Html.TextBoxFor(x => x.StudentAcademicList[i].Percentage, new { htmlAttributes = new { @class = "form-control " } })*@

                                                    <input asp-for="StudentAcademicList[SAcounter].Percentage" class="form-height-auto" style="border:none" placeholder="Enter your percentage" type="number">
                                                    <span asp-validation-for="StudentAcademicList[SAcounter].Percentage" class="text-danger text-8"></span>
                                                </td>
                                                <td>

                                                    @*@Html.EditorFor(x => x.StudentAcademicList[i].Division, new { htmlAttributes = new { @class = "form-control " } })*@
                                                    @*<input asp-for="StudentAcademicList[i].Division" class="form-control" placeholder="Enter your Division">*@

                                                    <div>

                                                        <select asp-for="StudentAcademicList[SAcounter].Division" class="height-auto" style="border:none">
                                                            <option value="Distinction">Distinction</option>
                                                            <option value="1st division">1st division</option>
                                                            <option value="2nd division">2nd division</option>
                                                            <option value="3rd division">3rd division</option>

                                                        </select>

                                                    </div>
                                                </td>

                                                <td><input type="button" class="ibtnDel btn btn-md btn-danger " data-id="@SAcounter" value="Delete"></td>
                                            </tr>

                                            SAcounter = SAcounter + 1;
                                        }

                                    }
                                }









                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" style="text-align: left;">
                                        <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>




                <div class="col-12 form-group mg-t-8">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                    <a asp-controller="Student" asp-action="Index" data-ajax="true"
                       data-ajax-method="GET" data-ajax-mode="replace"
                       data-ajax-update="#main-div" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Back</a>
                </div>
            </div>
        </form>

    </div>
</div>


<script>
    $('.select2').select2();
</script>
<script>
    $('.air-datepicker').datepicker({
        language: {
            days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            today: 'Today',
            clear: 'Clear',
            dateFormat: 'dd/mm/yyyy',
            firstDay: 0
        }
    });
</script>


<script>

    $(document).ready(function () {
        

        var counter = @SAcounter;
        var editCounter = counter - 1;
        $(".ibtnDel").hide();
        $(".ibtnDel[data-id='" + editCounter + "']").show();

        $("#addrow").on("click", function () {
            
            $(".ibtnDel").hide()
            var newRow = $("<tr>");
            var cols = "";

            cols += '<td><select class="custom-select height-auto" style="border:none" data-val="true" data-val-required="The BoardId field is required." id="StudentAcademicList_' + counter + '__BoardId" name="StudentAcademicList[' + counter + '].BoardId"><option value= "1" > NEB</option><option value ="2">HSEB</option><option value="3">Bachelor</option></select></td>';
            cols += '<td><input class="form-height-auto" style="border:none" placeholder="College / School" type="text" data-val="true" data-val-required="The College field is required." id="StudentAcademicList_' + counter + '__College" name="StudentAcademicList[' + counter + '].College" value=""></td>';
            cols += '<td><input class="form-height-auto" style="border:none" placeholder="Enter your percentage" type="number" data-val="true" data-val-number="The field Percentage must be a number." data-val-required="The Percentage field is required." id="StudentAcademicList_' + counter + '__Percentage" name="StudentAcademicList[' + counter + '].Percentage" value=""></td>';
            cols += '<td><div><select class="height-auto" style="border:none" data-val="true" data-val-required="The Division field is required." id="StudentAcademicList_' + counter + '__Division" name="StudentAcademicList[' + counter + '].Division"><option value="Distinction">Distinction</option><option value="1st division">1st division</option><option value="2nd division">2nd division</option><option value="3rd division">3rd division</option></select></div></td>';



            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger" data-id=' + counter + ' value="Delete"></td>';

            cols += '</tr>';
            newRow.append(cols);
            $("table.order-list").append(newRow);
            counter++;
        });



        $("table.order-list").on("click", ".ibtnDel", function (event) {
            
            $(this).closest("tr").remove();
            counter -= 1;

            var buttonDeleteCount = counter - 1;
            $(".ibtnDel[data-id='" + buttonDeleteCount + "']").show();
        });



    });



@*    $(document).ready(function () {
    var len = $(this).closest('tr').find('td').length;
    var value = parseInt(len) - 1;
    for (var val = 0; val < value; val++) {
        var $inputfirstrow = $(that).closest('tr').find('td:eq(' + val + ')').find(':input');
        if ($inputfirstrow.is(":checkbox")) {
            $inputfirstrow.prop("checked", false)
        }
        if ($inputfirstrow.is("select")) {
            $inputfirstrow.val(0);
        }
        else {
            $inputfirstrow.val('');
        }
    }
    });*@

</script>