@model ClassViewModel
@{
    ViewBag.Title = "Class Registration ";
    var status = ViewBag.Status;
}

@{ Layout = ViewBag.Layout; }
<link href="~/css/FancyTable.css" rel="stylesheet" />
<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Class</h3>
    <ul>
        <li>
            <a asp-controller="class" asp-action="Index" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div">Home</a>
        </li>
        <li>Class Details</li>
    </ul>
</div>
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Edit Class</h3>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-expanded="false">...</a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-action="index" asp-controller="Class" data-ajax="true"
                               data-ajax-method="GET" data-ajax-mode="replace"
                               data-ajax-update="#main-div">
                        <i class="fas fa-times text-orange-red"></i>Close
                    </a>
                    @*<a class="dropdown-item" href="#">
                            <i class="fas fa-cogs text-dark-pastel-green"></i>Edit
                        </a>*@
                    <a class="dropdown-item">
                        <i class="fas fa-redo-alt text-orange-peel"></i>Refresh
                    </a>
                </div>
            </div>
        </div>
        <form asp-area="admin" asp-controller="class" asp-action="Edit" method="post" class="new-added-form">
            <div class="row">
                <input asp-for="ClassId" hidden />
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>Class Name *</label>
                    <input type="text" placeholder="" asp-for="ClassName" class="form-control">
                    <span asp-validation-for="ClassName" class="text-danger"></span>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>NoOfSections </label>
                    <input type="text" placeholder="" asp-for="NoOfSections" class="form-control">
                    <span asp-validation-for="NoOfSections" class="text-danger"></span>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label>OderNo </label>
                    <input type="text" placeholder="" asp-for="OderNo" class="form-control">
                    <span asp-validation-for="OderNo" class="text-danger"></span>
                </div>


                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <input type="checkbox" asp-for="IsActive">
                    <label asp-for="IsActive">IsActive</label><br>
                </div>

                <div class="col-12 form-group mg-t-8">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                    <a asp-controller="Class" asp-action="Index" data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Back</a>
                </div>

            </div>


        </form>
    </div>
</div>

<script>
   $(document).ready(function () {
        
@*
       if (@status != "") {

           iziToast.success({
               title: '@status',
               message: 'Success'
           });
       }
       else {
               iziToast.error({
               title: '@status',
               message: 'Success'
           });
       }
        });*@

</script>
