@model GridIndexData
@{ ViewBag.Title = "Class List";

    int sn = 0;
    var status = @ViewBag.Status; }
@{ Layout = ViewBag.Layout; }



<div class="breadcrumbs-area">
    <h3>Class List</h3>
    <ul>
        <li>
            <a asp-area="admin" asp-controller="class" asp-action="Index" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace"
                   data-ajax-update="#main-div" >Home</a>
        </li>
        <li>@ViewBag.Title</li>
    </ul>
</div> <!-- Breadcubs Area End Here --> <!-- Student Table Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@ViewBag.Title</h3>
            </div>
            <div>
                <a class="btn btn-primary btn-lg" asp-area="admin" asp-controller="Class" asp-action="Create" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace"
                   data-ajax-update="#main-div">Create</a>
            </div>
  
        </div>

        <div id="grid_array" style="margin:auto;"></div>
    </div>
</div> <!-- Student Table Area End Here -->

@*
<script>
   $(document).ready(function () {
        

       if (@status != "") {

           iziToast.success({
               title: '@status',
               message: 'Success'
           });
       }
       else {
               iziToast.error({
               title: '@status',
               message: 'Success'
           });
       }
        });

</script>*@

<script>

    $(document).ready(function () {

        var data = null;

       @* function()*@
        var gridIndexData = $.ajax({
            url: "/admin/class/gridindex",
            type: 'GET',
            success: function (res) {
                debugger;
                data = res.dataRow;
            
            }
        });

        debugger;

        @*    var tbl = $("table.tableFromModel");
        var data = $.paramquery.tableToArray(tbl);*@

 

      



       
        debugger;


        var obj = {
            width: 1000, height: 300,
            title: "Class table",
            pageModel: { type: "local", rPP: 50, rPPOptions: [10, 50, 100, 500, 1000] },
            numberCell: { resizable: true, title: "S.N." },
            filterModel: { type:"local",on: true, mode: "AND", header: true },
            selectionModel: { type: 'row', mode: 'single' },
            editable: false,
            scrollModel: { autoFit: true },
            //flexWidth: true,
            showBottom: true,
            resizable: true,
            dataModel: {
                postData: null,
                location: "remote",
                method: "GET",
                dataType: "JSON",
                url: "/admin/class/gridindex",
                getData: function (gridIndexData) {
                    debugger;
                    return { curPage: gridIndexData.curPage, totalRecords: gridIndexData.totalRecords, data: gridIndexData.dataRow };
                }
            }
@*
            dataModel: data*@

        };

        debugger;

        obj.colModel = [
            {
                title: "className", width: 50, dataIndx: "className", dataType: "string",
                filter: { type: 'textbox', condition: 'begin', listeners: ['keyup'] }
         
            },
            {
                title: "No Of Section", width: 50, dataIndx: "noOfSections", dataType: "int",
                filter: { type: 'textbox', condition: 'begin', listeners: ['keyup'] }

            },
            {
                title: "Order No", width: 50, dataIndx: "oderNo", dataType: "int",
                filter: { type: 'textbox', condition: 'begin', listeners: ['keyup'] }

            },
            {
                title: "Is Active", width: 50, dataIndx: "isActive", dataType: "bool",
                filter: { type: 'textbox', condition: 'begin', listeners: ['keyup'] }

            },
            {
                title: "Action", editable: false, minWidth: 83, sortable: false,
                render: function (ui) {

                    

                    var link = `<a href='/Admin/class/Edit/${ui.rowData.classId}' data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" class='edit_btn'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                             <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg></a>



<a href='/Admin/class/details/${ui.rowData.classId}' data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" class='details_btn' ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
  <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
</svg></button >




<a href='/Admin/class/Delete/${ui.rowData.classId}' data-ajax="true"
                           data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-update="#main-div" class='delete_btn'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></a>`;


                    return link;

                }
            }


        ];

      



         




        var $grid = $("#grid_array").pqGrid(obj);

        $grid.pqGrid('option', 'width', 'auto')
            .pqGrid('refresh');


    });
</script>